body {
    display:  grid; 
    grid-template-rows: 1250px;
    
}

.container {
    display:  grid;
    grid-template-rows: 3.71% 20.96% 4.45% 24.46% 4.455% 20.96% 17.56% 3.71%;
    border:  1px solid black;
    grid-area: 1/1;
}
.navbar {
    grid-row: 1/2;
    
}