body {
    display:  grid;
    grid-template-columns: 0% 100% 0%; 
    grid-template-rows: 1fr 1250px 1fr;
    background-color:rgba(26,188,156 ,1);
}

.container {
    display:  grid;
    grid-template-rows: 3.71% 20.96% 4.45% 24.46% 4.455% 20.96% 17.56% 3.71%;
    border:  1px solid black;
    grid-area: 2/2;
}