.navbar {
    background-color: #333333;
    display: flex;
    
   
    
}
.nav-links {
    color: antiquewhite;
    padding: 20px 15px;
    border: hidden;

}

.nav-links:hover {
    background-color: #272727;
}




ul {


    list-style:none;
    
}



.restdblogo {
    max-width: 10%;
    height: auto;
    padding-left: 105px;
    padding-top: 7px;
}
.main-nav {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-left: -600px;
    
}

.div2 {
    background: #1E93CC;
}
.div3 {
    background: #ffffff;
}
.div4 {
    background: #1E93CC;
}
.div5 {
    background: #EEEEEE;
}
.div6 {
    background: #5d5d5d;
}
.div7 {
    background: #ffffff;
}
.div8 {
    background: #333333;

}
