.div1 {
    background-color: black;
}
.div2 {
    background: blue;
}
.div3 {
    background: white;
}
.div4 {
    background: blue;
}
.div5 {
    background: white;
}
.div6 {
    background: lightgray;
}
.div7 {
    background: white;
}
.div8 {
    background: black;

}
