.navbar {
    background-color: #333333;
    display: flex;
    
   
    
}
.nav-links {
    color: antiquewhite;
    padding: 20px 15px;
    border: hidden;
    text-decoration: none;

}

.nav-links:hover {
    background-color: #272727;
}

.nav-link {
    color: antiquewhite;
    padding: 20px 15px;
    border: hidden;
    text-decoration: none;
    margin-left: 550px;

}

.nav-link:hover {
    background-color: #272727;
}

ul {


    list-style:none;
   
    
}



.restdblogo {
    max-width: 10%;
    height: auto;
    padding-left: 175px;
    padding-top: 7px;
}
.main-nav {
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-left: -600px;
    
}

.div2 {
    background: #1E93CC;
}

.getimage {
    display:  flex;
    flex-direction:  row;
    justify-content: start;
    max-height:90%;
    max-width: 90%;
    padding-top: 10px;
    margin-left: 100px;

    

}

.biglogo {
    display:  flex;
    flex-direction: row;
    
    max-height:20%;
    max-width: 20%;
    margin-top: -400px;
   
}

}
.div3 {
    background: #ffffff;
}
.div4 {
    background: #1E93CC;
}
.div5 {
    background: #EEEEEE;
}
.div6 {
    background: #5d5d5d;
}
.div7 {
    background: #ffffff;
}
.div8 {
    background: #333333;

}
